body {
  font-family: "Poppins", sans-serif;
  color: #555555;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  margin: 0;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
} */

.color-a {
  color: #000000;
}

.color-b {
  color: #2eca6a;
}

/*------/ Nav Pills  /------*/
.text-brand {
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
}

.nav-pills-a.nav-pills .nav-link {
  color: #000000;
  position: relative;
  font-weight: 600;
}

.nav-pills-a.nav-pills .nav-link.active {
  background-color: transparent;
}

.nav-pills-a.nav-pills .nav-link.active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #dcf028;
  z-index: 2;
}
.navbar-brand span {
  color: #dcf028;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-brand {
  color: rgb(1, 2, 3);
  font-size: 30px;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  font-weight: 700;
  letter-spacing: 0.1em;
}
/*------/ Display Table & Table Cell /------*/

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/*------/ Ul Resect /------*/

.ul-resect ul,
.list-a ul,
.box-comments ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

/*------/ Overlay /------*/

.overlay-a {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 27%,
    rgba(0, 0, 0, 0.65) 90%
  );
}

.overlay {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  /* height: 100%; */
  width: 100%;
}
/* 
/*------/ Owl carousel /------*/

.owl-theme .owl-dots {
  text-align: center;
  margin-top: 18px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
}

.owl-theme .owl-dots .owl-dot span {
  width: 16px;
  height: 9px;
  margin: 5px 5px;
  background: #000000;
  border: 0px solid #000000;
  display: block;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  border-radius: 0px;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #2eca6a;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #2eca6a;
  width: 35px;
}

.owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
}

.owl-arrow .owl-nav .owl-prev,
.owl-arrow .owl-nav .owl-next {
  display: inline-block;
  transition: all 0.6s ease-in-out;
  color: #000000;
}

.owl-arrow .owl-nav .owl-prev.disabled,
.owl-arrow .owl-nav .owl-next.disabled {
  transition: all 0.6s ease-in-out;
  color: #adadad;
}

.owl-arrow .owl-nav .owl-next {
  margin-left: 15px;
}

.nav-arrow-a .owl-arrow .owl-nav {
  font-size: 1.8rem;
  margin-top: -110px;
}

.nav-arrow-a .owl-arrow .owl-nav .owl-next {
  margin-left: 15px;
}

.nav-arrow-b .owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
}

.nav-arrow-b .owl-arrow .owl-nav .owl-prev,
.nav-arrow-b .owl-arrow .owl-nav .owl-next {
  padding: 0.7rem 1.5rem !important;
  display: inline-block;
  transition: all 0.6s ease-in-out;
  color: #ffffff;
  background-color: #2eca6a;
  opacity: 0.9;
}

.nav-arrow-b .owl-arrow .owl-nav .owl-prev.disabled,
.nav-arrow-b .owl-arrow .owl-nav .owl-next.disabled {
  transition: all 0.6s ease-in-out;
  color: #ffffff;
}

.nav-arrow-b .owl-arrow .owl-nav .owl-prev:hover,
.nav-arrow-b .owl-arrow .owl-nav .owl-next:hover {
  background-color: #26a356;
}

.nav-arrow-b .owl-arrow .owl-nav .owl-next {
  margin-left: 0px;
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #920303;
  border-top: 6px solid #2eca6a;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*======================================
//--//-->   NAVBAR
======================================*/

.navbar-default {
  transition: all 0.5s ease-in-out;
  background-color: #ffffff;
  padding-top: 28px;
  padding-bottom: 28px;
  height: 80px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
}

.navbar-default .nav-search {
  color: #fff;
  font-size: 1.5rem;
}

.navbar-default.navbar-reduce {
  box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
}

.navbar-default.navbar-trans,
.navbar-default.navbar-reduce {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.navbar-default.navbar-trans .nav-item,
.navbar-default.navbar-reduce .nav-item {
  position: relative;

  padding-right: 25px;
  padding-bottom: 8px;
  margin-left: 0;
}

.navbar-default.navbar-trans .nav-link,
.navbar-default.navbar-reduce .nav-link {
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  letter-spacing: 0.03em;
  transition: all 0.1s ease-in-out;
  position: relative;
  padding-left: 0;
  padding-right: 0;
width: 150px;
}
nav {
  background: linear-gradient(157deg, #00c3ff, #ffff1c);
  -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
  -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  border: none;
 
}

.navbar-default.navbar-trans .nav-link:before,
.navbar-default.navbar-reduce .nav-link:before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 0;
  background-color: #0f8a9d;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  transform-origin: right;
  transition: opacity 0.2s ease-out 0.3s, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out 0.3s;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out 0.3s,
    -webkit-transform 0.2s ease-out;
}

.navbar-default.navbar-trans .nav-link:hover,
.navbar-default.navbar-reduce .nav-link:hover {
  color: #fff;
}

.navbar-default.navbar-trans .nav-link:hover:before,
.navbar-default.navbar-reduce .nav-link:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  transform-origin: left;
}

.navbar-default.navbar-trans .show > .nav-link:before,
.navbar-default.navbar-trans .active > .nav-link:before,
.navbar-default.navbar-trans .nav-link.show:before,
.navbar-default.navbar-trans .nav-link.active:before,
.navbar-default.navbar-reduce .show > .nav-link:before,
.navbar-default.navbar-reduce .active > .nav-link:before,
.navbar-default.navbar-reduce .nav-link.show:before,
.navbar-default.navbar-reduce .nav-link.active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-default.navbar-trans .nav-link:before {
  background-color: #dcf028;
}

.navbar-default.navbar-trans .nav-link:hover {
  color: #fafafa;
}

.navbar-default.navbar-trans .show > .nav-link,
.navbar-default.navbar-trans .active > .nav-link,
.navbar-default.navbar-trans .nav-link.show,
.navbar-default.navbar-trans .nav-link.active {
  color: #964cea;
}

.navbar-default.navbar-reduce {
  transition: all 0.5s ease-in-out;
  padding-top: 19px;
  padding-bottom: 19px;
}

.navbar-default.navbar-reduce .nav-link {
  color: #fff;
}

.navbar-default.navbar-reduce .nav-link:before {
  background-color: #dcf028;
}

.navbar-default.navbar-reduce .nav-link:hover {
  color: #fff;
}

.navbar-default.navbar-reduce .show > .nav-link,
.navbar-default.navbar-reduce .active > .nav-link,
.navbar-default.navbar-reduce .nav-link.show,
.navbar-default.navbar-reduce .nav-link.active {
  color: #fff;
}

.navbar-default.navbar-reduce .navbar-brand {
  color: #fff;
}

.navbar-default .dropdown .dropdown-menu {
  border-top: 0;
  border-left: 4px solid #dcf028;
  border-right: 0;
  border-bottom: 0;
  -webkit-transform: translate3d(0px, -40px, 0px);
  transform: translate3d(0px, -40px, 0px);
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.3, 0.65, 0.355, 1) 0s,
    opacity 0.31s ease 0s, height 0s linear 0.36s;
  margin: 0;
  border-radius: 0;
  padding: 12px 0;
}

.navbar-default .dropdown .dropdown-menu .dropdown-item {
  padding: 12px 18px;
  transition: all 500ms ease;
  font-weight: 600;
  /* min-width: 150px; */
}

.navbar-default .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #fff;
  color: #0f8a9d;
  transition: all 500ms ease;
}

.navbar-default .dropdown .dropdown-menu .dropdown-item.active {
  background-color: #ffffff;
  color: #0f8a9d;
}

.navbar-default .dropdown:hover .dropdown-menu {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=1);
}
.logo {
  border-radius: 30, 40;
  width: 20%;
  padding: 0;
  margin: 0;
}
.logo img {
  width: 100px;
  height: 80px;
  margin-top: 0px;

}

/*------/ Hamburger Navbar /------*/

.navbar-toggler {
  position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: -webkit-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}
/* Coresol */
#crsl2 {
  transform: translate3d(-4092px, 0px, 0px);
  transition: all 0.25s ease 0s;
  width: 7161px;
}
#crsl {
  width: 1024px;
  margin-right: -1px;
}
#bg120 {
  background-image: url("http://hdwpro.com/wp-content/uploads/2019/10/Natural-Ultra-HD-Wallpaper.jpg");
}
#bg158 {
  background-image: url("http://hdwpro.com/wp-content/uploads/2019/10/Natural-Ultra-HD-Wallpaper.jpg");
}
#bg220 {
  background-image: url("http://hdwpro.com/wp-content/uploads/2019/10/Natural-Ultra-HD-Wallpaper.jpg");
}
#bg186 {
  background-image: url("http://hdwpro.com/wp-content/uploads/2019/10/Natural-Ultra-HD-Wallpaper.jpg");
}
#bg187 {
  width: 1024px;
  margin-right: -1px;
}
/*======================================
//--//-->   FOOTER
======================================*/

.section-footer {
  padding-top: 60px;
  margin-top: 60px;
  background: #f3f3f3;
}

.section-footer ul {
  line-height: 2;
}

.section-footer .item-list-a i {
  font-size: 18px;
  padding-right: 4px;
  color: #2eca6a;
}

.section-footer .widget-a .w-title-a {
  margin-bottom: 1rem;
}

footer {
  background: #f3f3f3;
  text-align: center;
  padding: 30px 0;
}

footer .copyright-footer {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

footer .credits {
  font-size: 14px;
}

@media (min-width: 768px) {
  .navbar-default.navbar-trans .nav-item,
  .navbar-default.navbar-reduce .nav-item {
    margin-left: 15px;
  }

  .navbar-default .dropdown .dropdown-menu {
    border-top: 4px solid #2eca6a;
    border-left: 0;
    display: block;
    position: absolute;
    box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(20, 19, 18, 0.1);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #00428a;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #004a99;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #ecf5ff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #007bff;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #0067d5;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
  color: #74b5fc;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #007bff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #0062cc;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #f1f7ff;
}

#footer .credits a {
  color: #bfddfe;
}

#footer .credits a:hover {
  color: #f1f7ff;
}
/* Services */
.zoomIn {
  visibility: visible;
  animation-name: zoomIn;
}
.fadeInUp {
  visibility: visible;
  animation-name: fadeInUp;
}
.fadeInDown {
  visibility: visible;
  animation-name: fadeInDown;
}
.service_block {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.rollIn {
  visibility: visible;
  animation-name: rollIn;
}

.flipInY {
  visibility: visible;
  animation-name: flipInY;
}
.fadeInLeft {
  visibility: visible;
  animation-name: fadeInLeft;
}
.bounceIn {
  visibility: visible;
  animation-name: bounceIn;
}

#service {
  padding: 83px 0px;
}

.service_area {
  padding: 10px 0 40px;
}

.service_block {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.service_icon {
  border: 2px solid #f56eab;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin: 0px auto 25px;
}

.service_icon.icon2 {
  border: 2px solid #7cc576;
}

.service_icon.icon3 {
  border: 2px solid #49b5e7;
}

.service_icon span {
  background: #f56eab;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
  height: 100%;
  width: 100%;
}
.service_icon.icon2 span {
  background: #7cc576;
}
.service_icon.icon3 span {
  background: #49b5e7;
}
.service_icon i {
  color: #fff;
  font-size: 40px;
  margin-top: 0;
  position: relative;
  top: 14px;
  z-index: 20;
}

.service_block h3 {
  font-family: "Dosis";
  font-weight: 600;
  font-size: 18px;
  color: #111111;
  margin: 35px 0 18px;
}

.service_block p {
  font-size: 16px;
  color: #888888;
  margin: 0px;
}
#service {
  font-size: 38px;
  color: #222222;

  margin: 35px 0 25px 0;
  text-align: center;
}
#service h2 {
  font-size: 38px;
  color: #222222;
  font-family: "Dosis";
  font-weight: 700;
  margin: 35px 0 25px 0;
  text-align: center;
  text-transform: uppercase;
}
/* Home */
#section1 {
  display: flex;
  width: 100%;
  height: 90vh;
  background: #010424;
  background: linear-gradient(57deg, hsl(0, 0%, 100%), #00c3ff,#ffff1c);

  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.leftside {
  width: 55%;
  height: auto;
  overflow: hidden;
  margin-top: 0px;
  /* background: url("https://images.vexels.com/media/users/3/148171/isolated/preview/b4ad26cf6cc8ad39b0923cf65e1ea540-abstract-rectangle-background-vector-by-vexels.png"); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.leftside img {
  width: 800px;
  height: 500px;
  /* background: url("https://images.vexels.com/media/users/3/148171/isolated/preview/b4ad26cf6cc8ad39b0923cf65e1ea540-abstract-rectangle-background-vector-by-vexels.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.rightside {
  width: 55%;
  height: 300px;
  color: white;
  text-align: center;
  margin-top: 80px;
  padding: 40px;
}

.rightside h1 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
}

.rightside p {
  font-size: 1.1rem;
  padding: 30px 0;
}

.rightside welcome {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(57deg, #92c701, #496303);
  border-radius: 4px 4px 4px 4px;
  padding: 20px 35px;
  justify-content: center;
}

.rightside button:hover {
  background: linear-gradient(57deg, #496303, #92c701);
}
.img1 {
  width: 100%;
  border-radius: 5%;
}
.product-top {
  margin: 50px;
}
.product {
  width: 100%;
  margin-top: 10%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}
.product h2 {
  background: #000066;
  color: #0fc;
  width: 190px;
  font-size: 25px;
  padding: 5px;
  height: 40px;
}
.product h2::after {
  content: "";
  border-top: 40px solid #000066;
  border-right: 40px solid transparent;
  position: relative;
  left: 54px;
  top: 37px;
}
.product-bottom .fa {
  color: #678;
  font-size: 10px;
  letter-spacing: 5px;
}
.product-bottom h3 {
  font-size: 25px;
  font-weight: bold;
}
.product-bottom h5 {
  font-size: 20px;
  padding-bottom: 10px;
}
.overlay {
  display: block;
  opacity: 0;
  position: absolute;
  top: 15%;
  margin-left: 10px;
  width: 50px;
}
.product-top:hover .overlay {
  opacity: 1;
  margin-left: 15%;
  transition: 0.5s;
}
/* Showitems */
.overlays {
  display: block;
  opacity: 0;
  position: absolute;
  top: 5%;
  margin-left: 0px;
  /* width: 30px; */
}
.product-tops:hover .overlays {
  opacity: 0.8;
  /* margin-left: 5%; */
  transition: 0.5s;
}
.product-tops {
  margin: 0px;
}
/*  */
.overlay .fa {
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  height: 35px;
  width: 35px;
  font-size: 20px;
  padding: 8px;
  margin: 5%;
  margin-bottom: 5%;
}
.overlay .btn-secondary {
  background: transparent !important ;
  border: none !important ;
  box-shadow: none !important;
}
.shop {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(57deg, #92c701, #496303);
  border-radius: 4px 4px 4px 4px;
  padding: 10px 15px;
  justify-content: center;
  cursor: pointer;
}
#product h2 {
  font-size: 38px;
  color: #222222;
  font-family: "Dosis";
  font-weight: 700;
  margin: 35px 0 25px 0;
  text-align: center;
  text-transform: uppercase;
}
/*  */
/*  */
/*  */
/* Contact */
#contact {
  text-align: center;
}
.main-section.contact {
  padding: 90px 0 100px;
}

.main-section.contact {

  background-color: #03b1ce;
}

.contact_section {
  margin: 0 0 60px 0;
}

.contact_section h2 {
  font-size: 40px;
  color: #ffffff;
  margin: 0 0 50px 0;
  text-transform: uppercase;
}

.contact_block {
  text-align: center;
}

.contact_block_icon {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  margin: 0px auto 20px;
}
.contact_block_icon.icon2 {
  border-color: #7cc576;
}
.contact_block_icon.icon3 {
  border-color: #49b5e7;
}
.contact_block_icon span {
  background: none repeat scroll 0 0 #f56eab;
  border: 5px solid #fff;
  border-radius: 50%;
  display: block;
  height: 100%;
  width: 100%;
}
.contact_block_icon.icon2 {
  border-color: #7cc576;
}
.contact_block_icon.icon2 span {
  background: #7cc576;
}
.contact_block_icon.icon3 {
  border-color: #49b5e7;
}
.contact_block_icon.icon3 span {
  background: #49b5e7;
}
.contact_block_icon i {
  color: #fff;
  font-size: 36px;
  margin-top: 0;
  position: relative;
  top: 26px;
  z-index: 20;
}
.contact_block span {
  display: block;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
}

.contact_block span a {
  display: block;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
}

.contact-info-box {
  font-size: 15px;
  margin: 0 0 14px 68px;
  padding-left: 0;
}
.contact-info-box h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 40px;
  color: #fff;
}

.contact-info-box p {
  line-height: 28px;
  display: block;
  font-size: 16px;
  color: #ffffff;
  margin: 0 0 40px;
}
.social-link {
  padding: 35px 0;
  margin: 0 0 0 68px;
  display: block;
  overflow: hidden;
  list-style: none;
}
.social-link li {
  float: left;
  margin-right: 8px;
}
.social-link li a {
  display: block;
  width: 55px;
  height: 55px;
  border: 3px solid #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 48px;
  font-size: 25px;
  color: #fff;
  background: #010424;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.social-link li a:hover,
.social-link li a:focus {
  text-decoration: none;
}
.twitter a:hover {
  background: #55acee;
}
.facebook a:hover {
  background: #3b5998;
}
.pinterest a:hover {
  background: #cb2026;
}
.gplus a:hover {
  background: #dd4b39;
}
.dribbble a:hover {
  background: #ea4c89;
}

.form {
  margin: 0 66px 0 30px;
}
.input-text {
  padding: 15px 16px;
  border: 1px solid #ccc;
  width: 100%;
  height: 50px;
  display: block;
  border-radius: 4px;
  font-size: 15px;
  color: #aaa;
  font-family: "Lato", sans-serif;
  margin: 0 0 15px 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.input-text:focus {
  border: 1px solid #7cc576;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(124, 197, 118, 0.3);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(124, 197, 118, 0.3);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area {
  height: 230px;
  resize: none;
  overflow: auto;
  font-family: "Lato", sans-serif;
}
.input-btn {
  font-family: "Dosis", sans-serif;
  width: 175px;
  height: 50px;
  letter-spacing: 0px;
  background: #373737;
  border-radius: 3px;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  border: 0px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.input-btn:hover {
  background: #fff;
  color: #222;
}

/* Animation Timers
---------------------------------*/
.delay-02s {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
.delay-03s {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
.delay-04s {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

.delay-05s {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.delay-06s {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

.delay-07s {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
}
.delay-08s {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

.delay-09s {
  animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
}
.delay-1s {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.delay-12s {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}
/* Profilo
.isotope {
  position: relative;
  overflow: hidden;
  height: 380px;
}

#Portfolio {
  padding: 100px 0px;
}

.Portfolio-nav {
  padding: 0;
  margin: 0 0 45px 0;
  list-style: none;
  text-align: center;
}
.Portfolio-nav li {
  margin: 0 10px;
  display: inline;
}
.Portfolio-nav li a {
  display: inline-block;
  padding: 10px 22px;
  font-size: 12px;
  line-height: 20px;
  color: #222222;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "LatoRegular", sans-serif;
  background: #f7f7f7;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.Portfolio-nav li a:hover {
  background: #7cc576;
  color: #fff;
  text-decoration: none;
}

.portfolioContainer {
  margin: 0 auto;
  padding-left: 15px;
  width: auto !important;
}

.Portfolio-box {
  text-align: center;
  width: 350px;
  overflow: hidden;
  float: left;
  padding: 12px 0px;
}
.Portfolio-box img {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.Portfolio-box img:hover {
  opacity: 0.6;
}

.Portfolio-nav li a.current {
  background: #7cc576;
  color: #fff;
  text-decoration: none;
}
img {
  max-width: 100%;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}
ul {
  list-style: none;
}

/* no transition on .isotope container */

/* .isotope .isotope-item { */
/* change duration value to whatever you like */
/* -webkit-transition-duration: 0.6s; 
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.main-section.paddind {
  padding-bottom: 60px;
}
.oneone {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate3d(0px, 0px, 0px) scale3d(0.001, 0.001, 1);
  width: 512px;
  opacity: 0;
}
.onetwo {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate3d(0px, 0px, 0px) scale3d(0.001, 0.001, 1);
  width: 512px;
  opacity: 0;
}
.onethree {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate3d(512px, 0px, 0px) scale3d(0.001, 0.001, 1);
  width: 512px;
  opacity: 0;
}
.onefr {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
  width: 512px;
  opacity: 1;
}
.onefive {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate3d(0px, 380px, 0px) scale3d(0.001, 0.001, 1);
  width: 512px;
  opacity: 0;
}
.onesix {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate3d(512px, 760px, 0px) scale3d(0.001, 0.001, 1);
  width: 512px;
  opacity: 0;
} */
/* 
shop */
/* ShowItemss */
.filter-app {
  transform: scale(1);
  display: block;
}
.filter-logo,
.filter-web,
.filter-card {
  transform: scale(0);
  display: none;
}

/* Portfolio */
#portfolio {
  background: #fff;
  padding: 20px 0;
}

#portfolio #portfolio-wrapper {
  padding-right: 15px;
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 0 0 45px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
  padding: 10px 22px;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  border-radius: 4px;
  text-transform: uppercase;
  background: #f7f7f7;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
  background: #e43c5c;
  color: #fff;
}

#portfolio .portfolio-item {
  position: relative;
  height: 200px;
  overflow: hidden !important;
  margin-bottom: 15px;
  transition: all 350ms ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#portfolio .portfolio-item a {
  display: block;
  margin-right: 15px;
}

#portfolio .portfolio-item img {
  position: relative;
  top: 0;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#portfolio .portfolio-item .details {
  height: 50px;
  background: #e43c5c;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -50px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#portfolio .portfolio-item .details h4 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 8px 0 2px 8px;
  margin: 0;
}

#portfolio .portfolio-item .details span {
  display: block;
  color: #fff;
  font-size: 13px;
  padding-left: 8px;
}

#portfolio .portfolio-item:hover .details {
  bottom: 0;
}

#portfolio .portfolio-item:hover img {
  top: -30px;
}
/* User Profile */
#profile-image1 {
  cursor: pointer;

  width: 100px;
  height: 100px;
  border: 2px solid #03b1ce;
}
.title {
  font-size: 16px;
  font-weight: 500;
}
.bot-border {
  border-bottom: 1px #f8f8f8 solid;
  margin: 5px 0 5px 0;
}

input.hidden {
  position: absolute;
  left: -9999px;
}
.profile {
  /* background-image: url("http://starkovtattoo.spb.ru/images/200/DSC100224440.png"); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgba(140, 76, 172, 0.671); */
  background: linear-gradient(
    to right,
    rgba(64, 153, 153, 1) 6%,
    rgba(48, 125, 161, 1) 33%,
    rgba(34, 99, 168, 1) 58%,
    rgba(18, 35, 57, 1) 95%,
    rgba(12, 9, 13, 1) 100%
  );

  /* width: 250px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%; */
  /* margin: -200px 0 0 -125px; */
  /* border-radius: 24px; */
  /* border: none; */
  /* box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.2); */
  transition: all 0.3s;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  margin-top: 100px !important;
  padding: 30px 40px;
  /* border: #e71d1d1f; */
}
.prof {
  background: transparent;
  /* margin-top: 150px; */
}
.prof1 {
  background: transparent;
  color: #000;
}

/* Style the indicator (dot/circle) */
.gender .checkmark {
  top: 5px;
  left: 0px;
  width: 28px;
  height: 20px;
  /* border-radius: 50%; */
  background: rgba(182, 16, 16, 0.897);
}
.toggle {
  display: block;
  margin: 20px 0 0;
  border-bottom: 1px solid green;
  align-content: flex-end;
}
/* .toggle:hover {
  text-decoration: underline;
} */
.toggle input {
  position: relative;
  /* left: -999em; */
}
.hide {
  /* width: 50%; */
  /* border: 1px solid #000; */
  /* background: red; */
  /* max-height: 99em; */
  opacity: 1;
  height: auto;
  overflow: hidden;
  transition: opacity 1.5s linear, max-height 1.5s linear;
  /* display: none; */
}
#item-1 {
  display: none;
}
.ex1 input[type="checkbox"]:not(:checked) + .hide {
  opacity: 0;
  max-height: 0;
  border: none;
  /* display: block; */
}

/* Product details */
.product-view {
  /* margin-top: 5%; */
  position: fixed;
  /* width: 600px; */
  height: 700px;
  padding: 10px;
  border: 1px solid #030158;
  top: 60%;
  left: 50%;
  background-color:#ffffff;
  border-radius: 4px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}
.product-big-img {
  width: 100%;
  height: 200px;
  display: inline-flex;
  margin-right: -300px;
}
.product-big-img img {
  width: 100%;
  border: 3px solid #000;
}
.product-big-desc {
  width: 49%;
  height: auto;
  display: inline-block;
  /* float: right; */
  padding-right: 20px;
}
.product-big-desc h2 {
  margin: 0;
  font-weight: lighter;
}

.product-big-desc h5 {
  font-weight: lighter;
  color: #2a2a2a;
  margin: 0;
  font-size: 16px;
  padding-bottom: 8px;
}
.product-big-desc h6 {
  width: 100%;
  float: left;
  margin: 0px;
  padding-bottom: 15px;
}
.product-big-desc h6 a {
  color: #b1b1b1;
  font-size: 16px;
  margin-right: 25px;
  display: block;
  float: left;
  text-decoration: none;
}
.price {
  width: 100%;
  float: left;
  padding-bottom: 15px;
}
.price .oldprice {
  font-size: 24px;
  margin: 0px;
  color: #a3a3a3;
  border-bottom: 1px solid #333;
  display: block;
  width: auto;
}
.price .oldprice sup {
  color: #ff7800;
  padding-left: 10px;
  font-weight: lighter;
}
.price .newprice {
  font-size: 24px;
  margin: 0px;
  color: #333;
  display: inline-block;
  width: auto;
}
.price .newprice abbr {
  color: #ff7800;
}
.buybutton {
  width: 180px;
  height: 35px;
  border-radius: 50px;
  background-color: #ff7800;
  color: #fff;
  padding: 0px;
  font-size: 18px;
  border: none;
  margin-bottom: 10px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #0000001f !important;
}
/* cart */
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}
@media screen and (max-width: 600px) {
  table#cart tbody td .form-control {
    /* width: 20%; */
    display: inline !important;
  }
  .actions .btn {
    width: 36%;
    margin: 1.5em 0;
  }

  .actions .btn-info {
    float: left;
  }
  .actions .btn-danger {
    float: right;
  }

  table#cart thead {
    display: none;
  }
  table#cart tbody td {
    display: block;
    padding: 0.6rem;
    min-width: 320px;
  }
  table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
  }
  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
  }

  table#cart tfoot td {
    display: block;
  }
  table#cart tfoot td .btn {
    display: block;
  }
}

.form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 4px 5px;
  /* border-bottom: 1px solid #e5e5e5; */
}
.frow {
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 35px;
}
.form-row .name {
  width: 188px;
  color: #333;
  font-size: 15px;
  font-weight: 700;
  margin-top: 11px;
}

.form-row .value {
  width: -webkit-calc(100% - 188px);
  width: -moz-calc(100% - 188px);
  width: calc(100% - 188px);
}

@media (max-width: 767px) {
  .form-row {
    display: block;
    padding: 24px 30px;
  }
  .form-row .name,
  .form-row .value {
    display: block;
    width: 100%;
  }
  .form-row .name {
    margin-top: 0;
    margin-bottom: 12px;
  }
}
.itmtop {
  margin-top: 100px !important;
}
.showtop {
  margin-top: 80px !important;
}
/* .tabletrans .well {
  background-color: rgba(116, 49, 93, 0.26);
}
.table th {
  color:#afa;
}
.table td {
  color: #3ff;
} */
.login-second {
  background: linear-gradient(57deg, #010424, #010424) !important;

  /* background: none; */
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}
.navf {
  background: linear-gradient(157deg, #ffff1c,#03b1ce) !important;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  border: none;
}

/* @keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
} */
.hero-bkg-animated {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* end */

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-color: #1981ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23288ef7' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%232e9bee' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%232fa8e6' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%232bb4dd' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%231ec1d4' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%231fc8dc' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%2320cfe5' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%2322d6ee' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%2323def6' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%2324e5ff' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
.left{
  margin-left: 200px;
}

.banner {
  overflow: hidden;
  height: 100%;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#010424), to(#010424));
  background: linear-gradient(90deg, #00c3ff, #ffff1c);
  background-size: 200% 200%;
  -webkit-animation: bannerbg ease 8s infinite;
          animation: bannerbg ease 8s infinite;
}
.banner div h2 {
  font-weight: bold;
  color: rgba(255,255,255,0.5);
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 3.5rem;
}
.bubbles {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #fff;
}
li1 {
  position: absolute;
  list-style: none;
  display: block;
  opacity: 0.2;
  font-size: 4rem;
  -webkit-animation: square linear 4s infinite;
          animation: square linear 4s infinite;
}
li1:nth-child(1) {
  left: 8.333333333333334%;
  font-size: 15rem;
  opacity: 0.1;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
li1:nth-child(5) {
  left: 41.66666666666667%;
  font-size: 3rem;
  opacity: 0.1;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
li1:nth-child(9) {
  left: 75%;
  font-size: 1.666666666666667rem;
  opacity: 0.1;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
li1:nth-child(2) {
  left: 16.666666666666668%;
  font-size: 8rem;
  opacity: 0.05;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
li1:nth-child(6) {
  left: 50%;
  font-size: 8rem;
  opacity: 0.05;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
li1:nth-child(10) {
  left: 83.33333333333334%;
  font-size: 8rem;
  opacity: 0.05;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
li1:nth-child(3) {
  left: 25%;
  font-size: 6.666666666666666rem;
  opacity: 0.08;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
li1:nth-child(7) {
  left: 58.33333333333334%;
  font-size: 2.857142857142857rem;
  opacity: 0.08;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
li1:nth-child(11) {
  left: 91.66666666666669%;
  font-size: 1.818181818181818rem;
  opacity: 0.08;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
li1:nth-child(4) {
  left: 33.333333333333336%;
  font-size: 8rem;
  opacity: 0.05;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
li1:nth-child(8) {
  left: 66.66666666666667%;
  font-size: 16rem;
  opacity: 0.05;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
li1:nth-child(12) {
  left: 100%;
  font-size: 24rem;
  opacity: 0.05;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
@-webkit-keyframes bannerbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bannerbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    top: 0;
  }
  50% {
    -webkit-transform: rotate(180deg) scale(2);
            transform: rotate(180deg) scale(2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
    top: -400px;
  }
}
@keyframes square {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    top: 0;
  }
  50% {
    -webkit-transform: rotate(180deg) scale(2);
            transform: rotate(180deg) scale(2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
    top: -400px;
  }
}
.top1
{
  margin-top: -10px;
}
.generic-anchor {
  color: #ffffff;
}
.generic-anchor:visited {
  color:  #ffffff;
}
.generic-anchor:hover {
  color: #ccc;
}

.flex-rw {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
}

main {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  font: 10em "Oswald", sans-serif;
  color: #9b9b9b;
  line-height: 1;
}

footer {
  background:#bfddfe;
  margin-top: auto;
  width: 100%;
}

.footer-list-top {
  width: 33.333%;
}

.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px;
}

.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 2.3vw "Oswald", sans-serif;
}

.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif;
}

.footer-social-section {
  width: 100%;
  -webkit-box-align: center;
          align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #ccc;
  width: calc(100% - 20px);
}

.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: #373737;
  padding: 0 20px;
}

.footer-social-connect {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: #fff;
}

.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px;
}

.footer-social-overlap > a {
  font-size: 3em;
}

.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em;
}

.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.footer-bottom-section > div:first-child {
  margin-right: auto;
}

.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff;
}

.footer-address {
  display: inline;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em;
  }

  .footer-list-anchor {
    font-size: 1.1em;
  }

  .footer-social-connect {
    font-size: 2.5em;
  }

  .footer-social-overlap > a {
    font-size: 2.24em;
  }

  .footer-bottom-wrapper {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em;
  }

  .footer-list-top {
    width: 100%;
  }

  .footer-list-header {
    font-size: 3em;
  }

  .footer-list-anchor {
    font-size: 1.5em;
  }

  .footer-social-section {
    -webkit-box-pack: center;
            justify-content: center;
  }

  .footer-social-section::after {
    top: 25%;
  }

  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px;
  }

  .footer-social-overlap {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
  }

  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0;
  }

  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }

  .footer-bottom-section {
    padding: 0 5px 10px 5px;
  }

  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto;
  }

  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }

  .footer-bottom-rights {
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em;
  }

  .footer-list-anchor {
    font-size: 1.2em;
  }

  .footer-social-connect {
    font-size: 2.4em;
  }

  .footer-social-overlap > a {
    font-size: 2.24em;
  }

  .footer-bottom-wrapper {
    font-size: 1.3em;
  }
}
.btn-success {
  color: rgb(11, 1, 100);
  background-color: #ffffff;
  border-color: #ffffff;
}
.subscribe-form {
  font-size: 30px;
  line-height: 33px;
  display: inline-block;
  vertical-align: top;
  padding: 55px 0 60px;
  max-width: 100%;
}

@media (max-width:979px) {
  .subscribe-form {
      font-size: 24px;
      line-height: 26px;
      padding: 35px 0;
  }
}

.subscribe-form label {
  float: left;
  margin: 6px 12px 20px 0;
}

button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}

@media (max-width:979px) {
  .subscribe-form label {
      float: none;
      display: block;
      margin: 0 0 20px;
  }
}

.subscribe-form input[type=email],
.subscribe-form input[type=text] {
  float: left;
  background: none;
  width: 358px;
  border: 0;
  outline: none;
  margin: 0 14px 0 0;
  padding: 0 10px;
  color: #fff;
  height: 46px;
}

.subscribe-form input[type=email]::-webkit-input-placeholder,
.subscribe-form input[type=text]::-webkit-input-placeholder {
  color: #fff;
}

.subscribe-form input[type=email]::-moz-placeholder,
.subscribe-form input[type=text]::-moz-placeholder {
  opacity: 1;
  color: #fff;
}

.subscribe-form input[type=email]:-moz-placeholder,
.subscribe-form input[type=text]:-moz-placeholder {
  color: #d18383;
}

.subscribe-form input[type=email]:-ms-input-placeholder,
.subscribe-form input[type=text]:-ms-input-placeholder {
  color: #d18383
}

.subscribe-form input[type=email].placeholder,
.subscribe-form input[type=text].placeholder {
  color: #8a8809;;
}

@media (max-width:979px) {
  .subscribe-form input[type=email],
  .subscribe-form input[type=text] {
      float: none;
      display: block;
      width: 100%;
      margin: 0 0 20px;
  }
}

.subscribe-form .submit {
  float: left;
  position: relative;
  width: 130px;
  height: 43px;
  margin: 6px 0 0;
}

.subscribe-form .submit input {
  background: none;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  z-index: 2;
  color: #fff;
}

.subscribe-form .submit:after {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  width: 100%;
  transition: width .3s ease-in-out, background-color .3s ease-in-out;
}

.subscribe-form .submit:hover:after {
  width: 0;
}

.subscribe-form .submit:after {
  height: 3px;
}

@media (max-width:979px) {
  .subscribe-form .submit {
      float: none;
      display: block;
      margin: 0 auto;
  }
}

.subscribe-section {
  background: #00c3ff;
  width: 100%;
  text-align: center;
  position: relative;
}
.address1{
  color: #010424;
  margin-left: 50px;
}
.address2{
  color: #010424;
  
}
.clr{
  color: #ffffff;
}
.mtop{
  margin-top: 150px !important ;
}
.text-dark {
  color: #ffffff!important;
}
.text-dark1 {
  color: #0e0375!important;
}